{
  "root": true,
  "env": {
    "browser": true,
    "commonjs": true,
    "node": true,
    "es6": true
  },
  "extends": [
    "@nuxtjs"
  ],
  "rules": {
    "no-return-assign": "off",
    "no-sequences": "off",
    "space-before-function-paren": "off"
  }
}
